@font-face {
    font-family: 'Arsenal';
    src: url(../fonts/Arsenal-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

.gradient-texts {
    position: absolute; 
    top: 3%;
    left: 50%;/* Центрируем по горизонтали */
    transform: translateX(-50%);
    font-size: 64px; /* Размер шрифта */
    font-family: 'Bellota'; /* Шрифт заголовка */
    font-weight: bold;
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: center; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
  }
  .card-slider {
    width: 250px; /* Уменьшаем ширину карточки */
    height: 300px; /* Уменьшаем высоту карточки */
    background-color: #533529;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
}

.card img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    z-index: 1;
}
.card-title-line {
    position: absolute;
    bottom: 0;
    height: 40px;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Цветная подложка под текст */
    color: white;
    z-index: 0;
}

.card-title {
    position: absolute;
    bottom: 10px; /* Располагаем текст на цветной подложке */
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Arsenal';
    color: white;
    font-size: 1.2rem;
    z-index: 1;
}

.cart-icon {
    position: absolute;
    bottom: 50px; /* Соответственно поднимаем иконку тележки */
    right: 10px;
    color: white;
    font-size: 1.5rem; /* Используем font-size вместо size */
    z-index: 2; /* Увеличиваем z-index, чтобы иконка была над подложкой */
    background-image: url('../images/card-icon/cart.svg'); /* Правильно указываем путь к изображению */
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px; /* Указываем размер иконки */
    height: 24px; /* Указываем размер иконки */
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

/* Кнопки управления слайдером */
.carousel-control-prev,
.carousel-control-next {
    position: static; /* Убираем фиксированное позиционирование */
    margin-top: 10px; /* Отступ сверху */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); /* Изменяем изображение стрелки */
}